{% extends 'base.html' %}

{% block content %}

<div class="min-h-screen flex items-center justify-center">
  <div class="text-center">
  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div  class="border rounded-lg border-1 border-slate-400 border-solid drop-shadow-xl p-2">
    <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    </div>
    <input type="submit" class="hover:font-bold hover:italic cursor-pointer" value="Login">
    <input type="hidden" name="next" value="{{ next }}">
  </form>

  <p><a class="hover:font-bold hover:italic" href="{% url 'password_reset' %}">Lost password?</a></p>

  </div>
</div>

{% endblock %}
