{% extends "base.html" %}

{% block content %}
<div class="min-h-screen flex items-center justify-center">
  <div class="text-center">
    <form action="" method="post">
    {% csrf_token %}
    {% if form.email.errors %}
      {{ form.email.errors }}
    {% endif %}
    <p>Input the email address associated with your account to being resetting your password.<br>
    A link will be sent to the email address you submit below.</p>
        <div>{{ form.email }}</div>
      <input type="submit" class="border rounded-md border-black p-2" value="Send reset password link">
    </form>
  </div>
</div>

{% endblock %}
