<!-- watch_collection/templates/watch_collection/watch_delete.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto p-8">
    <h1 class="text-3xl font-bold text-center mb-6">Confirm Deletion</h1>

    <p>Are you sure you want to delete the watch "{{ object }}"?</p>

    <form method="post" action="{% url 'watch-delete' username=request.user.username pk=object.id %}">
        {% csrf_token %}
        <input type="submit" class="bg-red-500 text-white px-4 py-2 mt-4" value="Confirm Delete">
    </form>

    <a href="{% url 'watch-collection' %}" class="text-blue-500 mt-4 block">Cancel</a>
</div>
{% endblock %}
