    <!-- Navigation bar -->
    <nav class="bg-slate-700 p-4">
        <div class="container mx-auto flex items-center justify-between">
            <!-- Logo or site title -->
            <a href="{% url 'index' %}" class="hidden md:block text-white text-lg font-bold">DMVWC</a>

            <!-- Navigation links -->
            <div class="flex space-x-4">
                <!-- <a href="{% url 'index' %}" class="text-white hover:font-bold {% if request.resolver_match.url_name == 'index' %}font-bold{% endif %} hover:text-gray-300">Home</a> -->
                <a href="{% url 'browse-watches' %}" class="text-white hover:font-bold {% if request.resolver_match.url_name == 'browse_watches' %}font-bold{% endif %} hover:text-gray-300">Browse Watches</a>

                {% if user.is_authenticated %}
                    <!-- Display links if the user is logged in -->
                    <a href="{% url 'profile' %}" class="text-white hover:font-bold {% if request.resolver_match.url_name == 'profile' %}font-bold{% endif %} hover:text-gray-300">Profile</a>
                    <a href="{% url 'watch-collection' username=request.user.username %}" class="text-white hover:font-bold {% if request.resolver_match.url_name == 'watch-collection' %}font-bold{% endif %} hover:text-gray-300">My Collection</a>
                    <a href="{% url 'wishlist' username=request.user.username %}" class="text-white hover:font-bold {% if request.resolver_match.url_name == 'wishlist' %}font-bold{% endif %} hover:text-gray-300">My Wishlist</a>
                    <a href="{% url 'watch-add' username=request.user.username %}" class="text-white hover:font-bold {% if request.resolver_match.url_name == 'watch-add' %}font-bold{% endif %} hover:text-gray-300">Add Watch to Collection</a>
                    <a href="{% url 'wishlist-add' username=request.user.username %}" class="text-white hover:font-bold {% if request.resolver_match.url_name == 'wishlist-add' %}font-bold{% endif %} hover:text-gray-300">Add Watch to Wishlist</a>
                    <form id="logout-form" method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="hover:font-bold {% if request.resolver_match.url_name == 'admin:logout' %}font-bold{% endif %} text-white">Logout</button>
                    </form>
                {% else %}
                    <!-- Display Login link if the user is not logged in -->
                    <a href="{% url 'login' %}" class="hover:font-bold {% if request.resolver_match.url_name == 'login' %}font-bold{% endif %} text-white">Login</a>
                {% endif %}
                <!-- Add other navigation links... -->
            </div>
        </div>
    </nav>