<!-- templates/table_template.html -->
<div class="overflow-x-auto">
    <table class="w-full table-auto border-collapse border border-gray-400 text-center">
        <thead>
            <tr class="bg-gray-300">
                <th class="border border-gray-400 px-4 py-2">Brand</th>
                <th class="border border-gray-400 px-4 py-2">Model</th>
                <th class="border border-gray-400 px-4 py-2">Movement</th>
                <th class="border border-gray-400 px-4 py-2">Image</th>
                {% if editability and can_edit %}
                    <th class="border border-gray-400 px-4 py-2">Delete</th>
                {% endif %}
                <!-- Add more columns as needed -->
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr class="{% cycle 'bg-white' 'bg-gray-100' %}">
                <td class="border border-gray-400 px-4 py-2">{{ item.brand }}</td>
                <td class="border border-gray-400 px-4 py-2">{{ item.model }}</td>
                <td class="border border-gray-400 px-4 py-2">{{ item.movement }}</td>
                <td class="border border-gray-400 px-4 py-2">
                    {% if item.example_photo %}
                        {% if model_type %}
                            <a href="{% url 'wishlist-detail' pk=item.pk username=item.user.username %}" target="">
                        {% else %}
                            <a href="{% url 'watch-detail' pk=item.pk username=item.user.username %}" target="">
                        {% endif %}
                            <img src="{{ item.example_photo.url }}" alt="{{ item.brand }} - {{ item.movement }} Photo" class="mx-auto max-h-52">
                        </a>
                    {% else %}
                        No image available
                    {% endif %}
                </td>
                {% if editability and can_edit %}
                    <td class="border border-gray-400 px-4 py-2">
                        <input type="checkbox" name="{{ checkbox_name }}" value="{{ item.id }}">
                    </td>
                {% endif %}
                <!-- Add more columns as needed -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

