<!-- templates/table_template.html -->
<div class="overflow-x-auto">
    <table class="w-full table-auto border-collapse border border-gray-400 text-center">
        <thead>
            <tr class="bg-gray-300">
                <th class="border border-gray-400 px-4 py-2">Brand<br>&<br>Year</th>
                <th class="border border-gray-400 px-4 py-2">Model<br>&<br>Caliber</th>
                <th class="border border-gray-400 px-4 py-2">Image</th>
                {% if editability and can_edit %}
                    <th class="border border-gray-400 px-4 py-2">Delete</th>
                {% endif %}
                <!-- Add more columns as needed -->
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr class="{% cycle 'bg-white' 'bg-gray-100' %}">
                <td class="border border-gray-400 px-4 py-2">{{ item.brand }}<br><br>{{ item.year }}</td>
                {% if item.caliber.slug %}
                    <td class="border border-gray-400 px-4 py-2">{{ item.model }}<br><br><a href="{{ item.caliber.slug_url }}" class="underline" target="_blank">{{ item.caliber }}</a></td>
                {% else %}
                    <td class="border border-gray-400 px-4 py-2">{{ item.model }}<br><br>{{ item.caliber }}</td>
                {% endif %}
                <td class="border border-gray-400 px-4 py-2">
                    <div class="container flex-left">
                    {% if item.example_photo %}
                            <a href="{% url 'watch-detail' pk=item.pk username=item.user.username %}" target="">
                            <img src="{{ item.example_photo.url }}" alt="{{ item.brand }} - {{ item.caliber }} Photo" class="mx-auto max-h-52">
                        </a>
                    {% else %}
                        No image available
                        <br><br>
                            <a href="{% url 'watch-detail' pk=item.pk username=item.user.username %}" class="underline" target="">View Details</a>
                    {% endif %}
                    </div>
                    {% if item.on_wishlist %}<p>Wishlist Watch</p>{% endif %}
                </td>
                {% if editability and can_edit %}
                    <td class="border border-gray-400 px-4 py-2">
                        <input type="checkbox" name="{{ checkbox_name }}" value="{{ item.id }}">
                    </td>
                {% endif %}
                <!-- Add more columns as needed -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

